.website-about-us-page-screen-responsive,
.website-about-us-page-screen-responsive * {
  box-sizing: border-box;
}
.website-about-us-page-screen-responsive {
  background: #ffffff;
  width: 1440px;
  height: 4167px;
  position: relative;
  overflow: hidden;
}
.hero-image {
  height: 810px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 60px;
}
.hero-image-overlay {
  background: rgba(0, 0, 0, 0.6);
  width: 1440px;
  height: 731px;
  position: absolute;
  left: calc(50% - 720px);
  top: 79px;
}
.hero-section-text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 22.08%;
  left: 22.15%;
  width: 55.76%;
  top: 307px;
}
.about-us {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 64px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.hero-section-sub-heading-text {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.footer-section {
  position: absolute;
  inset: 0;
}
.end-ribbon {
  width: 1440px;
  height: 425px;
  position: static;
}
.end-ribbon-rectangle {
  background: #000000;
  height: 56px;
  position: absolute;
  right: -1px;
  left: 1px;
  top: 4111px;
}
.end-ribbon-text {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 35.28%;
  left: 35.42%;
  width: 29.31%;
  top: 4117px;
}
.text {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  flex: 1;
}
.footer-rectangle {
  background: #009688;
  height: 369px;
  position: absolute;
  right: -1px;
  left: 1px;
  top: 3742px;
}
.nav-link {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 28.89%;
  left: 59.58%;
  width: 11.53%;
  top: 3792px;
}
.navigation-links {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.info {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 200%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.social-media-link {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 7.01%;
  left: 80.42%;
  width: 12.57%;
  top: 3792px;
}
.social-media-links {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.info-1 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 200%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.Contact-Information {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 43.47%;
  left: 35.76%;
  width: 20.76%;
  top: 3792px;
}
.contact-info {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.email-website-phone-address {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 200%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.email-website-phone-address-span1 {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 200%;
  font-weight: 400;
}
.email-website-phone-address-span2 {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 200%;
  font-weight: 400;
  text-decoration: underline;
}
.email-website-phone-address-span3 {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 200%;
  font-weight: 400;
}
.logo-copy-4-x-1 {
  width: 379px;
  height: 253px;
  position: absolute;
  left: 51px;
  top: 3715px;
}
.header-group {
  position: absolute;
  inset: 0;
}
.header-section {
  width: 1440px;
  height: 73px;
  position: static;
}
.header-rectangle {
  background: #ffffff;
  width: 1440px;
  height: 73px;
  position: absolute;
  left: 0px;
  top: 5px;
}
.header-info-group {
  width: 472px;
  height: 24px;
  position: static;
}
.home {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 197px);
  top: 29px;
}
.services {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 102px);
  top: 29px;
}
.about {
  color: #009688;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - -21px);
  top: 29px;
}
.contact {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - -197px);
  top: 29px;
}
.policy {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - -119px);
  top: 29px;
}
.login-group {
  width: 255px;
  height: 30px;
  position: static;
}
.login {
  width: 114px;
  height: 30px;
  position: static;
}
.login-rectangle {
  background: #009688;
  border-radius: 25px;
  width: 114px;
  height: 30px;
  position: absolute;
  right: 102px;
  top: 26px;
}
.log-in {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  right: 129px;
  top: 29px;
}
.signup-group {
  width: 121px;
  height: 30px;
  position: static;
}
.signup {
  width: 121px;
  height: 30px;
  position: static;
}
.signup-rectangle {
  border-radius: 25px;
  border-style: solid;
  border-color: #009688;
  border-width: 1px;
  width: 121px;
  height: 30px;
  position: absolute;
  right: 236px;
  top: 26px;
}
.sign-up {
  color: #009688;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  right: 260px;
  top: 29px;
}
.logo-4-x-1 {
  width: 128px;
  height: 87.04px;
  position: absolute;
  left: 78px;
  top: -8px;
}
.our-tutor-group {
  position: absolute;
  inset: 0;
}
.our-tutor-rectangle {
    background: #fafafa;
    height: 1734px;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 1320px;
  }
.our-tutor-image {
  width: 812px;
  height: 484px;
  position: absolute;
  left: 313px;
  top: 1413px;
}
.our-tutor-text {
  display: flex;
  flex-direction: column;
  gap: 33px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 7.99%;
  left: 7.92%;
  width: 84.1%;
  top: 1949.34px;
}
.our-qualified-and-experienced-tutors {
  color: #009688;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.sub-heading-text {
  color: #000000;
  text-align: center;
  font-family: var(--paragrapgh-font-family, "Inter-Regular", sans-serif);
  font-size: var(--paragrapgh-font-size, 24px);
  font-weight: var(--paragrapgh-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.TAP-group {
  position: absolute;
  inset: 0;
}
.TAP-image {
  width: 424px;
  height: 388px;
  position: absolute;
  left: 102px;
  top: 2161px;
}
.TAP-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 8.61%;
  left: 41.39%;
  width: 50%;
  top: 2170px;
}
.thorough-admission-procedure {
  color: #009688;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  height: 125px;
}
.rigorous-admission-protocol-ensures-precision-detailed-scrutiny-for-comprehensive-inclusion-meticulous-screening-a-process-refined-entrance-to-excellence-each-candidate-defined {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.ASV-group{
  position: absolute;
  inset: 0;
}
.ASV-image {
  width: 389px;
  height: 371px;
  position: absolute;
  left: 890px;
  top: 2590px;
}
.ASV-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 41.53%;
  left: 7.08%;
  width: 51.39%;
  top: 2590px;
}
.ASV-heading-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 740px;
  position: relative;
}
.authenticity-and-safety-verification {
  color: #009688;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: relative;
  width: 800px;
  height: 125px;
}
.processes-confirming-realness-safety-assured-verification-steps-ensuring-trust-is-procured-authenticity-validated-a-secure-embrace-safety-verified-creating-a-trustworthy-space {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
  position: relative;
  width: 800px;
}
.testimonial-section {
  height: auto;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 3054px;
  overflow: visible;
}
.dots {
  width: 95px;
  height: 15px;
  position: absolute;
  left: 673px;
  top: 3651px;
}
.testimonial-section-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  width: 1235px;
  position: absolute;
  left: 102px;
  top: 3105px;
}
.what-is-everyone-saying-about-us {
  color: #009688;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 45px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.testimonial-section-paragraph {
  color: #7c7c7c;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.testimonal-3-group {
  position: absolute;
  inset: 0;
}
.testimonal-3-rectangle {
  background: #ffffff;
  border-radius: 25px;
  width: 395px;
  height: 269px;
  position: absolute;
  left: 943px;
  top: 3332px;
  box-shadow: var(--shadow-box-shadow, 0px 0px 10px 0px rgba(0, 0, 0, 0.25));
}
.testimonal-3-outline-group {
  width: 140px;
  height: 20px;
  position: static;
}
.stars {
  width: 140px;
  height: 20px;
  position: absolute;
  left: 1071px;
  top: 3446px;
}
.content-group {
  width: 140px;
  height: 20px;
  position: static;
}
.cesar {
  color: #009688;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 1111px;
  top: 3412px;
}
.comment-3 {
  color: #7c7c7c;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 959px;
  top: 3486px;
  width: 364px;
}
.image-3 {
  border-radius: 32px;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 1116px;
  top: 3352px;
}
.testimonal-2-group {
  position: absolute;
  inset: 0;
}
.testimonal-2-rectangle {
  background: #ffffff;
  border-radius: 25px;
  width: 395px;
  height: 269px;
  position: absolute;
  left: 523px;
  top: 3332px;
  box-shadow: var(--shadow-box-shadow, 0px 0px 10px 0px rgba(0, 0, 0, 0.25));
}
.testimonal-2-outline-group {
  width: 140px;
  height: 20px;
  position: static;
}
.stars-1 {
  width: 140px;
  height: 20px;
  position: absolute;
  left: 651px;
  top: 3446px;
}
.ingram {
  color: #009688;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 686px;
  top: 3412px;
}
.comment-2 {
  color: #7c7c7c;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 539px;
  top: 3486px;
  width: 364px;
}
.image-2 {
  border-radius: 32px;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 696px;
  top: 3352px;
}
.testimonal-1-group {
  position: absolute;
  inset: 0;
}
.testimonal-1-rectangle {
  background: #ffffff;
  border-radius: 25px;
  height: 269px;
  position: absolute;
  right: 942px;
  left: 103px;
  top: 3332px;
  box-shadow: var(--shadow-box-shadow, 0px 0px 10px 0px rgba(0, 0, 0, 0.25));
}
.gabrielle {
  color: #009688;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 463px);
  top: 3412px;
}
.stars-2 {
  width: 140px;
  height: 20px;
  position: absolute;
  left: 231px;
  top: 3446px;
}
.comment-text {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 384px;
  position: absolute;
  left: 109px;
  top: 3476px;
}
.comment-1 {
  color: #7c7c7c;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.image-1 {
  border-radius: 32px;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 276px;
  top: 3352px;
}
.our-mission-group {
  position: absolute;
  inset: 0;
}
.our-mission-rectangle {
  background: #ffffff;
  width: 1440px;
  height: 510px;
  position: absolute;
  left: 0px;
  top: 810px;
}
.our-mission-content-group {
  width: 1257px;
  height: 366px;
  position: static;
}
.our-mission-text-group {
  display: flex;
  flex-direction: column;
  gap: 44px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 342px;
  position: absolute;
  right: 7.22%;
  left: 49.86%;
  width: 42.92%;
  top: 880px;
}
.our-mission-text {
  color: #000000;
  text-align: justified;
  font-family: "-", sans-serif;
  font-size: 21px;
  line-height: 34px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.our-mission-text-span1 {
  color: #000000;
  font-family: "Inter-Bold", sans-serif;
  font-size: 21px;
  line-height: 34px;
  font-weight: 700;
}
.our-mission-text-span2 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 21px;
  line-height: 34px;
  font-weight: 400;
}
.our-mission-text-span3 {
  color: #000000;
  font-family: "Inter-Bold", sans-serif;
  font-size: 21px;
  line-height: 34px;
  font-weight: 700;
}
.our-mission-text-span4 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 21px;
  line-height: 34px;
  font-weight: 400;
}
.our-mission-image {
  width: 639px;
  height: 366px;
  position: absolute;
  left: 79px;
  top: 879px;
}
